body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #020617, #0f172a);
  color: white;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 25px;
  margin: 10px;
  background: #38bdf8;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.btn.secondary {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

section {
  padding: 80px 20px;
  text-align: center;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 15px;
  border-radius: 12px;
  display: inline-block;
  width: 260px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: rgba(56,189,248,0.1);
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  border: 1px solid #38bdf8;
  border-radius: 20px;
}

footer {
  padding: 20px;
  background: #020617;
}
